/* Color Palette
#000000 - black
#363946 - gray
#696773 - purple
#819595 - green
#B1B6A6 - tan
*/

/* Global styles
--------------------- */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1, h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 30px;
    margin-top: 0;
}

a {
    color: #819595;
}

a:hover {
    text-decoration: none;
}

.content-wrap {
    max-width: 960px;
    margin: 0 auto;
    padding: 50px;
}

/* Header and Footer
--------------------- */
header, footer {
    background: #000000;
    color: white;
}

/* header */

/* footer */
footer {
    text-align: center;
}

.contact-info a {
    padding: 10px;
    display: inline-block;
}

/* Work and Experience
--------------------- */
.work {
    background: lightblue;
}


/* Education
--------------------- */
.education {
    background: #B1B6A6;
}